/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.btn {
    font-size: 14px;
    padding: 3px 9px;
    border-radius: 20px;
}
.btn-lightgray {
    color: #3569e6;
    background-color: #d9dadc;
}
.btn-lightgray:hover {
    color: #d9dadc;
    background-color: #3569e6;
}
.btn-orange {
    color: white;
    background-color: #cd3d0f;
}
.btn-orange:hover {
    color: #cd3d0f;
    background-color: white;
    border: 1px solid black;
}
.btn-white {
    color: black;
    background-color: white;
}
.btn-white:hover {
    color: white;
    background-color: #61ace4;
}
.btn-gray {
    color: white;
    background-color: #363636;
}
.btn-gray:hover {
    color: #363636;
    background-color: white;
    border: 1px solid black;
}
.btn-blue {
    color: white;
    background-color: #2d64e6;
}
.btn-blue:hover {
    color: #2d64e6;
    background-color: white;
    border: 1px solid black;
}
.container-custom {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
}
/* HEADER */
header {
    position: fixed;
    top: 0px;
    width: 100%;
}
/* MAIN */
main {
    padding-top: 81px;
}
/* HEADER-TOP */
.header-top {
    background-color: black;
}
.header-top img {
    width: 75px;
}
/* HEADER-BOTTOM */
.header-bottom {
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid black;
}
.header-bottom .left li a::after,
.header-bottom .right a.account::after {
    vertical-align: middle;
    margin-left: 5px;
    color: #999999;
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
}
/* LEFT */
.header-bottom .play-logo {
    width: 45px;
}
.header-bottom .left {
    display: flex;
    align-items: center;
}
.header-bottom .left ul {
    padding-left: 15px;
    margin: 0px;
    list-style: none;
    font-size: 14px;
}
.header-bottom .left li:not(:last-child) {
    margin-right: 15px;
}
.header-bottom .left li a {
    color: black;
}
/* RIGHT */
.hamburger-menu {
    font-size: 24px;
    color: gray;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 5px;
}
.header-bottom .right a {
    color: black;
    font-size: 14px;
}
.header-bottom .right i {
    vertical-align: middle;
}
.header-right-desktop button,
.header-right-desktop i {
    margin: 0px 5px;
}
/* HERO TOP */
.hero-top {
    color: white;
    display: flex;
    align-items: flex-end;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}
.hero-top h2 {
    margin: 25px 0px;
    font-size: 32px;
    font-weight: 500;
}
.hero-top img {
    height: 50px;
}
/* HERO BOTTOM */
.hero-bottom {
    margin: 25px 0px;
}
.hero-bottom img {
    border-radius: 15px;
}
.hero-thumb {
    margin: 12px 0px;
    padding: 2px;
    border-radius: 15px;
}
.hero-thumb-active {
    box-shadow: 0px 0px 0px 2px #0072cd;
}
/* PLAY STATION 5 */
#play-station-5 .container-custom{
    padding: 25px;
}
#play-station-5 .container-custom .title-top {
    color: #0072ce;
    font-size: 12px;
}
#play-station-5 .container-custom p {
    color: gray;
}
.ps5-image img {
    width: 600px;
}
.ps5-objects {
    margin-bottom: 50px;
}
.ps5-objects [class*="col"] {
    padding: 5px;
}
.card-object {
    height: 100%;
    text-align: center;
}
.card-object img {
    width: 150px;
}
.ps5-object-name {
    font-size: 14px;
}
.card-object.active {
    border-bottom: 2px solid #0072ce;
    margin-bottom: 10px;
}
.card-object.inactive {
    opacity: 0.5;
}
/* COMING SOON TOP */
.coming-soon-top {
    color: white;
    display: flex;
    align-items: flex-end;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/it-takes-two-hero-banner-desktop.jpg");;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
}
.coming-soon-top h2 {
    margin: 25px 0px;
    font-size: 32px;
    font-weight: 500;
}
.coming-soon-top img {
    width: 150px;
}
/* COMING SOON BOTTOM */
.coming-soon-bottom {
    color: white;
    background-color: #1f1f1f;
    padding: 25px 0px;
}
.coming-soon-bottom img {
    border-radius: 10px;
}
.coming-soon-title {
    font-size: 12px;
}
/* PS PLUS */
#ps-plus {
    background-color: #bebcbb;
}
#ps-plus .ps-plus-logo {
    width: 300px;
    margin-bottom: 20px;
}
#ps-plus .ps-plus-copertina {
    width: 400px;
}
#ps-plus p {
    font-size: 15px;
}
/* PS NOW */
#ps-now {
    background-color: #161c3b;
    color: #ffffff;
}
#ps-now .ps-now-copertina {
    width: 400px;
}
#ps-now .ps-now-logo {
    width: 300px;
    margin-bottom: 20px;
}
#ps-now p {
    font-size: 15px;
}
#ps-now [class*="col-"] {
    padding: 10px;
}
/* SOCIAL */
#social {
    padding: 50px 0px;
}
#social img {
    width: 200px;
}
#social h3 {
    margin: 0px 0px 30px 0px;
}
#social [class*=col-6] {
    padding: 10px;
}
#social .container-custom {
        width: 90%;
        max-width: 576px;
        margin: 0 auto;
}
/* FOOTER */
footer {
    background-color: #00439c;
    color: white;
    font-size: 14px;
    padding: 50px 0px;
}
footer .ps-footer {
    width: 75px;
    margin-bottom: 20px;

}
footer .language-globe {
    width: 15px;
}
footer span {
    vertical-align: middle;
}
footer .sie-logo {
    width: 100px;
    margin-bottom: 10px;
}
footer li {
    list-style: none;
    margin: 5px 0px;
}
footer .col-12:first-child {
    margin-bottom: 30px;
}
footer .col-12:last-child {
    margin-top: 30px;
}