/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.btn {
    font-size: 14px;
    padding: 3px 9px;
    border-radius: 20px;
}
.btn-orange {
    color: white;
    background-color: #cd3d0f;
}
.btn-orange:hover {
    color: #cd3d0f;
    background-color: white;
    border: 1px solid black;
}
.btn-gray {
    color: white;
    background-color: #363636;
}
.btn-gray:hover {
    color: #363636;
    background-color: white;
    border: 1px solid black;
}
.btn-blue {
    color: white;
    background-color: #2d64e6;
}
.btn-blue:hover {
    color: #2d64e6;
    background-color: white;
    border: 1px solid black;
}
.container-custom {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
}
/* HEADER-TOP */
.header-top {
    background-color: black;
}
.header-top img {
    width: 75px;
}
/* HEADER-BOTTOM */
.header-bottom {
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid black;
}
.header-bottom .left li a::after,
.header-bottom .right a.account::after {
    vertical-align: middle;
    margin-left: 5px;
    color: #999999;
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
}
/* LEFT */
.header-bottom .play-logo {
    width: 45px;
}
.header-bottom .left {
    display: flex;
    align-items: center;
}
.header-bottom .left ul {
    padding-left: 15px;
    margin: 0px;
    list-style: none;
    font-size: 14px;
}
.header-bottom .left li:not(:last-child) {
    margin-right: 15px;
}
.header-bottom .left li a {
    color: black;
}
/* RIGHT */
.hamburger-menu {
    font-size: 24px;
    color: gray;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 5px;
}
.header-bottom .right a {
    color: black;
    font-size: 14px;
}
.header-bottom .right i {
    vertical-align: middle;
}
.header-right-desktop button,
.header-right-desktop i {
    margin: 0px 5px;
}
/* HERO TOP */
.hero-top {
    color: white;
    display: flex;
    align-items: flex-end;
    height: 500px;
    background-color: green;
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}
.hero-top h3 {
    margin: 25px 0px;
    font-size: 32px;
    font-weight: 500;
}
.hero-top img {
    height: 50px;
}
/* HERO BOTTOM */
.hero-bottom {
    margin: 25px 0px;
}
.hero-bottom img {
    border-radius: 15px;
}
.hero-thumb {
    margin: 12px 0px;
    padding: 2px;
    border-radius: 15px;
}
.hero-thumb-active {
    box-shadow: 0px 0px 0px 2px #0072cd;
}
/* PLAY STATION 5 */
#play-station-5 .container-custom{
    padding: 25px;
}
#play-station-5 .container-custom .title-top {
    color: #0072ce;
    font-size: 12px;
}
#play-station-5 .container-custom p {
    color: gray;
}
.ps5-image img {
    width: 600px;
}
.ps5-objects [class*="col"] {
    padding: 5px;
}
.card-object {
    height: 100%;
    text-align: center;
}
.card-object img {
    width: 150px;
}
.ps5-object-name {
    font-size: 14px;
}
.card-object.active {
    border-bottom: 2px solid #0072ce;
    margin-bottom: 10px;
}